@import url('https://fonts.googleapis.com/css2?family=Bungee+Spice&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    background-color: #2F97C1;
    font-family: 'Roboto Condensed', sans-serif;
}

li {
    padding: 0.4em 0;
    font-size: 1.1em;
}

label {
    cursor: pointer;
    background-color: #2F97C1;
    color:  white;
    padding: 2px;
    border-radius: 4px;
}

footer {
    text-align: center;
    font-size: 1.5em;
}

.footer {
    margin-top: 1.3em;
}

@media screen and (max-width: 710px){
    section {
        max-width: 500px;
    }

    .image {
        width: 90%;
    }
}